* {
  margin:0;
  padding:0;
}

body {
  font-family: "Arial", sans-serif;
  background: #121211;
  color: #ddd;
}
a {
  color: #4e76c9;
}
#container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}
header {
  background: url(header.png) top left no-repeat;
  height: 165px;
}
header h1 {
  display: none;
}
#chatlink {
  display: block;
  background: #89c624;
  font-weight: 900;
  text-transform: lowercase;
  text-align: center;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  width: 150px;
  height: 40px;
  padding: 7px;
  box-sizing: border-box;
  position: absolute;
  top: 120px;
  right: 30px;
  font-size: 22px;
}
nav {
  position: absolute;
  top: 145px;
  left: 40px;
}
nav ul li {
  display: inline-block;
  padding: 5px 6px;
}
nav ul li a {
  color: #4e76c9;
  text-transform: lowercase;
  font-size: 17px;
  text-decoration: none;
}
#content {
  margin-top: 40px;
  width: 720px;
  margin-left: 40px;
  min-height: 150px;
}
#news article {
  margin-bottom: 10px;
}
#news article h3,
.gallery h3,
#events article h3
{
  display: inline;
}
#news article .submitter,
.gallery .submitter,
#events article .submitter
{
  color: #888;
  display: inline;
  font-size: 80%;
  font-style: italic;
  padding-left: 10px;
}
#events article .description,
#event .description,
#news article .contents {
  padding: 5px 15px;
}
#news article .contents p, #content p {
  margin-bottom: 10px;
}
#events .location,
#events .time {
  display: block;
  margin: 10px;
}
#events .location i,
#events .time i {
  color: #ffad5b;
}
#event .submitter {
  color: #888;
  font-size: 80%;
  margin-bottom: 20px;
}
#event .votelist li {
  list-style: none;
}
#event .votelist label {
  color: #ddd;
}
#event .votelist .results {
  color: #ffd700;
}
#event .comments li {
  list-style: none;
  background: #2b2b2b none repeat scroll 0 0;
  border: 1px solid #444444;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  display: block;
}
#event .comments .author {
  display: block;
  text-align: right;
  font-size: 70%;
}
#event .comments .author time {
  color: #666;
  display: inline-block;
  margin-left: 10px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
  border-bottom: #89C624 1px solid;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}
footer {
  font-size: 10px;
  color: #444;
  padding: 20px 10px;
}
footer p .icon {
    opacity: 0.75;
}
footer p .icon:hover {
    opacity: 1;
}
footer p.twitter {
    position: absolute;
    right: 20px;
    top: 73px;
}
footer p.steam {
    position: absolute;
    right: 40px;
    top: 73px;
}

#people {
  border-collapse: collapse;
  margin: 0 auto;
}
#people tr:hover {
  background: #1f1f1f;
}
#people th, #people td {
  padding: 5px 8px;
}
#people td.name {
  text-align: right;
}
#people td.country {
  text-align: center;
}
#people td a.icon, footer a.icon
{
  width: 16px;
  height: 16px;
  display: inline-block;
  overflow: hidden;
  line-height: 300px;
  background-image: url('icons.png');
  vertical-align: middle;
}
#people td a.icon.email {
  background-position: 0px 0px;
}
#people td a.icon.website {
  background-position: -16px 0px;
}
#people td a.icon.facebook {
  background-position: -32px 0px;
}
#people td a.icon.twitter, footer a.icon.twitter {
  background-position: -48px 0px;
}
#people td a.icon.instagram {
  background-position: -64px 0px;
}
#people td a.icon.snapchat {
  background-position: -80px 0px;
}
#people td a.icon.imgur {
  background-position: -96px 0px;
}
#people td a.icon.skype {
  background-position: -112px 0px;
}
#people td a.icon.steam, footer a.icon.steam {
  background-position: -128px 0px;
}
#people td a.icon.googleplus {
  background-position: -144px 0px;
}
#people td span.tagline {
  font-size: 80%;
  color: #888;
}

form label {
  display: block;
  margin-top: 10px;
  color: white;
}
form input[type=text],
form input[type=password],
form input[type=url],
form input[type=email],
form select,
form textarea {
  padding: 5px 10px;
  width: 300px;
  background: #2b2b2b;
  border-radius: 5px;
  border: solid 1px #171717;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
}
form select {
  padding: 3px 8px;
}
form select option {
  padding: 2px 6px;
}
form textarea {
  height: 200px;
}
form input[type=submit], form input[type=button], button {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #595959 0px, #404040 100%);
  border: 0px;
  border-bottom: 1px solid #262626;
  border-top: 1px solid #737373;
  color: white;
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;

  margin-top: 20px;
  display: block;
}
form input[type=submit]:hover, form input[type=button]:hover, button {
  background: #404040;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
}
form .required {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 80%;
  color: #c00;
}
form label .note {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 80%;
  color: #888;
}
form p {
  margin-top: 20px;
}
pre#voucher {
  background: #2b2b2b;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 32px;
  margin-bottom: 10px;
}
#faq dt {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
#faq dd {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#content ul {
  margin: 10px;
}
#content ul li {
  margin-left: 20px;
  margin-bottom: 10px;
}
.foldable {
  background: #1f1f1f;
  border: 1px solid #262626;
  padding: 4px 8px;
  margin-top: 5px;
}
.foldable .handle {
  color: #4e76c9;
  cursor: pointer;
  text-decoration: underline;
  font-size: 90%;
  margin-left: 10px;
}
.foldable .contents {
  margin: 10px;
  margin-left: 20px;
}
.gallery {
  margin-bottom: 30px;
}
.gallery .images a {
  margin: 10px;
  display: inline-block;
}
.error {
  background: #c62424;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-bottom: 5px;
}
.success {
  background: #89c624;
  color: black;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-bottom: 5px;
}

.quote.example {
  margin-top: 10px;
}
#quotes .quote, .quote.example, #topics li {
  background: #2B2B2B;
  border: 1px solid #444444;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#quotes .quote:target {
  border-color: #85BF25;
}

#quotes .quote small, #topics li span.author {
  color: #aaaaaa;
  display: block;
  font-style: italic;
  text-align: right;
  font-size: 11px;
  margin-top: 8px;
}
#quotes .quote small a {
  text-decoration: none;
}
#quotes .quote .comment {
  color: #aaaaaa;
  display: block;
  text-align: left;
  font-size: 9pt;
  margin-bottom: 8px;
}

#quotes .quote pre, .quote.example pre, pre.quotelike, #topics li span.topic {
  background: #181818;
  border-radius: 10px;
  color: #DDDDDD;
  font-family: "Lucida Console",monospace;
  font-size: 14px;
  padding: 10px;
  white-space: pre-wrap;
  margin: 8px 0 0;
  word-wrap: break-word;
}

#quotes .quote pre a {
  font-family: "Lucida Console",monospace;
  font-size: 14px;
  color: #4E76C9;
  white-space: nowrap;
  text-decoration: none;
}

#quotes .quote pre a:visited {
    color: #7E76C9;
}

#quotes .quote .votes,
#quotes .quote .votes span {
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}

#quotes .quote .votes span:before {
  content: '';
  width: 8px;
  background: url('voteicons.png') no-repeat;
  padding-left: 8px;
  margin-right: 1px;
}
#quotes .quote .votes span:before {
  content: '';
  width: 8px;
  background: url('voteicons.png') no-repeat;
  padding-left: 8px;
  margin-right: 1px;
}
#quotes .quote .votes.voted span:before {
  opacity: 0.3;
}
#quotes .quote .votes.voted span.voted:before {
  opacity: 1.0;
}
#quotes .quote .votes .upvote:before   { background-position: 0 4px; }
#quotes .quote .votes .meh:before      { background-position: -8px 4px; }
#quotes .quote .votes .downvote:before { background-position: -16px 4px; }
#quotes .quote .votes.clickable span {
  cursor: pointer;
}
#quotes .quote .votes.clickable span:hover {
  color: white;
}
#quotes #quotelist {
  clear: both;
}
#quotes #quotes-filter-form {
  height: 45px;
}

#quotes #sort-dropdown {
  width: 100px;
}
#quotes #quotes-filter-form
{
  display: table;
  width: 100%;
}
#quotes #quotes-filter-form > *
{
  display: table-cell;
}
#quotes #quotes-filter-form #search-container
{
  text-align: right;
}
#quotes #quotes-filter-form a#submit-quote {
  text-align: center;
  color: #85bf25;
}
#quotes #search-container input {
  display: inline;
  margin: 0px;
}
#quotes #search-container input[type=text] {
  width: 200px;
}
#quotes #search-container input[type=submit] {
  padding: 5px 25px;
}
#quote-submit textarea,
#quote-submit input[type=text]
{
  width: 100%;
}
#quote-submit input[type=submit],
#quote-submit input[type=button],
#quote-submit label[for=context]
{
  display: inline;
}
#quote-submit textarea {
  font-family: "Lucida Console",monospace;
  font-size: 13px;
}

#paginator ul {
  list-style: none;
  text-align: center;
}

#paginator ul li {
  display: inline-block;
  padding: 20px 10px;
  margin: 0;
}
#paginator ul li:last-child {
  border-right: 0px;
}
#news_nav {
  font-size: 80%;
  text-align: right;
  margin-top: 15px;
}
#news_nav a {
  padding-left: 10px;
}
#topics li span.topic {
  display: block;
}
#topics li {
  list-style: none;
}

#secret-santa-infographics {
    background: #181818 none repeat scroll 0 0;
    border: 1px solid #222;
    border-radius: 10px;
    font-size: 80%;
    margin-top: 40px;
    padding: 10px;
}
.secretsanta-stats {
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
}
.secretsanta-stats span {
    color: #89c624;
}

@media screen and (max-width:800px)
{
  header {
    background: none;
    height: auto;
  }
  header h1 {
    display: block;
  }
  #container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #chatlink, nav {
    position: static;
    top: 0;
    left: 0;
  }
  #content {
    width: 95%;
    margin: 0;
    padding: 5px;
  }
  #quotes #quotes-filter-form
  {
    display: block;
    height: auto;
  }
  #quotes #quotes-filter-form > *
  {
    display: inline-block;
    text-align: left;
    margin: 10px;
  }
  #quotes #search-container input[type="text"] {
    width: calc(100% - 120px);
  }
  footer p.twitter, footer p.steam {
    position: static;
  }
}
@media screen and (max-width:400px)
{
  form input[type=text],
  form input[type=password],
  form input[type=url],
  form input[type=email],
  form select,
  form textarea {
    width: 80%;
  }
  #people th, #people td {
    padding: 2px 4px;
  }
  #quotes .quote, .quote.example {
    padding: 5px 10px;
    border-radius: 10px;
  }
}
